/* This file is for your main application CSS */
@import "./reset.css";

/* Alerts and form errors used by phx.new */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert p {
	margin-bottom: 0;
}

.alert:empty {
	display: none;
}
.invalid-feedback {
	color: #a94442;
	display: block;
	margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
	display: none;
}
.phx-click-loading {
	opacity: 0.5;
	transition: opacity 1s ease-out;
}
.phx-loading {
	cursor: wait;
}
.phx-modal {
	opacity: 1 !important;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.phx-modal-content {
	background-color: #fefefe;
	margin: 15vh auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.phx-modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.phx-modal-close:hover,
.phx-modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.fade-in-scale {
	animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.fade-out-scale {
	animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}
.fade-in {
	animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
	animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}
@keyframes fade-in-scale-keys {
	0% { scale: 0.95; opacity: 0; }
	100% { scale: 1.0; opacity: 1; }
}
@keyframes fade-out-scale-keys {
	0% { scale: 1.0; opacity: 1; }
	100% { scale: 0.95; opacity: 0; }
}
@keyframes fade-in-keys {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fade-out-keys {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* General style */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	font: 14px 'Open Sans', sans-serif;
	color: #222;
	background: #fff;
	margin: 0;
	padding: 0
}

h1 {
    font-size: 3.6rem;
	letter-spacing: 0;
	line-height: 1.25;
	margin: 0
}

h2 {
	font-size: 2.8rem;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 2rem 0 0
}

h3 {
	font-size: 2.2rem;
	letter-spacing: 0;
	line-height: 1.35;
	margin: 1rem 0 .5rem
}

h4 {
	font-size: 1.8rem;
	letter-spacing: 0;
	line-height: 1.5;
	margin: 0
}

h5 {
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.4;
	margin: 0
}

h6 {
	font-size: 1.4rem;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 0
}

h7 {
	font-size: 1rem;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 0;
}

pre {
	padding: 1rem;
}

.small {
	font-size: 1rem;
}

.bold {
	font-weight: 700;
}

img {
	border-style: none
}

hr {
	box-sizing: content-box;
	border: none;
	background: #d8d8d8;
	height: 1px;
	margin: 2em 0;
	overflow: visible
}

.container {
	margin: 2rem auto;
	max-width: 70.0rem;
	padding: 0 2.0rem;
	position: relative;
}

.examples {
	margin: 2rem 0 0
}

.footer {
	font-size: .875em;
	line-height: 1.2;
	text-align: center
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.col:first-of-type {
	padding-right: 5rem;
}

.builder .output{
	margin: 0 0 2rem 0;
}

/* Code blocks and examples */
.show-block {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.show-block .row {
	border: 1px solid #d6d6d6;
}

.show-block code {
	width: 90%;
}

code {
	background: #f7f9fb;
	display: block;
	font-size: 13px;
	padding: 1rem;
	overflow: hidden;
	font-family: monospace, monospace;
	font-size: 1em
}

code.inline {
	display: inline;
	padding: .25rem;
	margin: 0
}

code span.param {
	color: #A87847
}

code span.value {
	color: #6E9C40
}

.code-result {
	padding: 0.5rem;
}

.options-block {
	margin-bottom: 2rem;
}

/* Form */
form {
	background: #f7f9fb;
	display: block;
	padding: 1rem;
	overflow: hidden;
	font-family: monospace, monospace;
	font-size: 1em
}

fieldset {
	padding: 0;
	border: none;
}
.field-block {
	margin: 0 0 1rem 0;
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
	color: #A87847
}

input[type=text],
textarea,
select {
	display: inline-block;
	padding: 0 0.5rem 0 .5rem;
	background-color: #ffffff;
	border-radius: 0.25rem;
	border: 1px solid #e5e5e5;
	outline: none;
	transition-property: none;
	transition-duration: none;
	color: #6E9C40
}
input[type=text]:disabled{
	background-color:transparent;
	padding: 0;
	border: 1px solid transparent;
}
input[type=text]:focus,
textarea:focus,
select:focus {
	border-color: #ef7ead;
}
textarea {
	max-width: 300px;
	height: 100px;
}
input[type=text],
select {
	height: 34px;
}
select {
	font-size: 0.875rem;
}
input[type=checkbox],
input[type=radio] {
	position: relative;
	top: 5px;
	width: 22px;
	height: 22px;
	margin: 0 0.5rem;
	background-color: white;
	border: 1px solid #e5e5e5;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition-property: none;
	transition-duration: none;
}
input[type=checkbox] {
	border-radius: 5px;
}
input[type=checkbox]:checked {
	background-color: #ef7ead;
	border: none;
}
input[type=checkbox]:checked:after {
	display: block;
	content: "";
	height: 4px;
	width: 10px;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: translate(5px, 6px) rotate(-45deg) scale(1);
}
input[type=radio] {
	border-radius: 50%;
}
input[type=radio]:checked {
	border-width: 5px;
	border-color: white;
	background-color: #ef7ead;
}
button {
	display: block;
	margin: 3em auto;
	padding: 0.5rem 2rem;
	font-size: 125%;
	color: white;
	border: none;
	border-radius: 0.25rem;
	background-color: #ef7ead;
	outline: none;
	box-shadow: 0 0.4rem 0.1rem -0.3rem rgba(0, 0, 0, 0.1);
	transform: perspective(300px) scale(0.95) translateZ(0);
	transform-style: preserve-3d;
	transition-property: none;
	transition-duration: none;
}
button:hover {
	cursor: pointer;
	background-color: #ff96c8;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	transform: scale(1.1) rotateX(0);
}
button:active {
	background-color: #ef7ead;
	transform: scale(1.05) rotateX(-10deg);
}

/* GitHub Corner Kitty */
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
	0%, 100% { transform: rotate(0) }
	20%, 60% { transform: rotate(-25deg) }
	40%, 80% { transform: rotate(10deg) }
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}

/* Media Queries */
@media all and (max-width:800px) {
	.row {
		display: block;
	}
	.col {
		width: 100%;
	}
	.show-block code {
		width: inherit;
	}
	.show-block .row {
		border: none;
	}
}